body {
    background: repeating-linear-gradient(
        120deg,
        black,
        black 800px,
        red 800px,
        red 1600px);

font-family: "HARD_ROCK", serif;
}

.logo {
    color: rgb(110, 12, 12);
    
}

@font-face {
    font-family: "HARD_ROCK";
    src:
    local("HARD_ROCK"), local("rocknroll_typo_crazy"), local("TheDark")
    url("HARD_ROCK.ttf"),
    url("rocknroll_typo_crazy.ttf"),
    url("TheDark.ttf"),
}

.myclass {
    width: 410px;
    height: auto;
}


