body {
    background: repeating-linear-gradient(120deg,
            black,
            black 800px,
            red 800px,
            red 1600px);

}

.logo {
    color: rgb(110, 12, 12);

}

@font-face {
    font-family: "HARD_ROCK";
    src:
        url("../fonts/HARD_ROCK.ttf"),

}

@font-face {
    font-family: "TheDark";
    src: url(../fonts/TheDark.ttf);
}

@font-face {
    font-family: "rocknroll";
    src: url(../fonts/rocknroll_typo_crazy.ttf);
}



li input,
li textarea {
    font-family: "HARD_ROCK";
}

h1,
h2,
nav a {
    font-family: "TheDark";
}

button {
    font-family: "rocknroll";
}

div h2 {
    font-family: none;
}

input::placeholder {
    color: red;
}

textarea::placeholder {
    color: red;
}